html { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
	width: 75%;
	height: 310px;
	margin: auto;
	margin-top: 5%;	
	background-color: white;
	border-radius: 4px;
	padding: 20px;
	font-family: 'Amiri', serif;
	overflow: auto;
}

#header {
	font-size: 300%;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}

h1 {
	margin-top:10px; 
	color: #e31b23;
	font-family: 'Amiri', serif;
}

#time-remaining {
	margin: auto;
	text-align: center;
	margin-bottom: 1.45%;
	font-family: 'Amiri', serif;
	font-size: 150%;
}

#srtBtnDiv {
	text-align: center;
	font-size: 130%;
	font-family: 'Amiri', serif;
}

#page-response {
	margin: auto;
	text-align: center;
	font-size: 130%;
	font-family: 'Amiri', serif;
}

#page-response p {
	margin-bottom: 1.45%;
	font-size: 130%;
	font-family: 'Amiri', serif;
}

#page-response div {
	margin-bottom: 1.45%;
	font-family: 'Amiri', serif;
}

#question {
	margin: auto;
	text-align: center;
	margin-bottom: 1.45%;
	font-family: 'Amiri', serif;
	font-size: 130%;
}

#choices {
	margin: auto;
	text-align: center;
	font-family: 'Amiri', serif;
}

.selection {
	margin-right: 5%;
	-webkit-appearance: none;
	-moz-appearance:none;
	background-color: white;
	border: none;
	font-family: 'Amiri', serif;
	font-size: 130%;
}

.selection:hover {
	background-color: #e31b23;
	font-weight: bold;
	border-radius: 6px;
	border-color: 1px solid #e31b23; 
}